@import "styles/root.css";
@import "styles/navbar.css";
@import "styles/audio-player.css";
@import "styles/section1.css";
@import "styles/popups.css";

* {
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

.section {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    color: var(--text);
} 

#section-2 {
    background-color: white;
    color: black;
}

#section-2, #section-3 {
    display: grid;
    place-items: center;
}

#map {
    width: 600px;
    height: 400px;
}