#cover-page:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    background-image: linear-gradient(0deg, var(--accent) 0%, transparent 100%);
    opacity: 0.5;
}

#cover-page {
    position: relative;
    overflow: hidden;
}

/* --- --- --- --- --- --- --- --- --- ---
        Cover infos
-- --- --- --- --- --- --- --- --- --- -*/

.cover-infos-container {
    position: relative;
    top: var(--navHeight);
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    & > * {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    @media only screen and (min-width: 1440px) {
        & {
            top: calc(-1 * var(--navHeight));
            justify-content: center;
        }
    }
    @media only screen and (max-width: 767px) {
        & {
            top: 30%;
            padding-top: 40px;
            width: 100%;
        }
    }
}

#cover-podcast-tag {
    background-color: var(--text);
    color: black;
    padding: calc(4.5px + 0.5vw) calc(8px + 1vw); /* 9px 16px */
    border-radius: 12px;
    font-size: calc(11px + 0.3vw);

    margin-bottom: 10px;

    & > span {
        font-size: calc(14px + 0.3vw);
        color: var(--accent);
    }
}

#cover-podcast-subject {
    color: var(--grey-text);
    font-size: calc(14px + 0.5vw);
}

#cover-podcast-title {
    font-size: calc(20px + 1.5vw);
    color: var(--text);
    font-weight: 900;
}

#cover-podcast-description {
    color: var(--grey-text);
    font-size: calc(11px + 0.3vw);
}

#cover-podcast-others {
    margin-top: 5px;
    gap: 20px;

    & > * {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: calc(14px + 0.3vw);

        & > span {
            font-size: calc(16px + 0.5vw);
        }
    }
}

/* --- --- --- --- --- --- --- --- --- ---
        Cover image
-- --- --- --- --- --- --- --- --- --- -*/

.cover-image-container {
    position: absolute;
    right: 0;
    height: 150%;
    width: 45%;
    transform: rotate(20deg) translate(10%, -20%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 7px solid;
    border-image: linear-gradient(0deg, var(--grey-text) 0%, var(--accent) 100%) 1;

    @media only screen and (max-width: 767px) {
        & {
            top: 0;
            transform: none;
            width: 100%;
            height: 30%;
            border-left: none;
            border-bottom: 5px solid var(--accent);
            border-image: linear-gradient(-90deg, var(--grey-text) 0%, var(--accent) 100%) 1;

            &:before {
                content: "";
                position: absolute;
                top: -10%;
                width: 100%;
                height: 50%;
                background-image: linear-gradient(180deg, var(--background) 0%, transparent 100%);
            }
        }
    }
}

#cover-page #cover-image {
    object-fit: cover;
    height: 80%;
    transform: rotate(-20deg) translateY(-5%);

    @media only screen and (max-width: 767px) {
        & {
            height: auto;
            width: 100%;
            transform: none;
        }
    }
}