#nav {
    position: fixed;
    z-index: 8888;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navHeight);
    display: flex;
    justify-content: center;
    background-color: var(--background);
    transition: background-color .3s;

    &.onTop {
        background-color: transparent;
    }
}

#mobile-menu {
    position: fixed;
    z-index: 8888;
    top: -30%;
    left: 0;
    width: 100%;
    padding: 10px;
    padding-top: calc(var(--navHeight) + 10px);
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    border-bottom: 2px solid var(--lightBackground);
    transition: background-color .3s;
    transition: top .3s;

    &.opened {
        top: 0;
    }

    & > span {
        width: 100%;
        cursor: pointer;
        color: var(--grey-text);
        padding: 10px;

        @media only screen and (max-width: 767px) {
            &:active {
                text-decoration: underline;
            }
        }
        @media only screen and (min-width: 768px) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.nav-section {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.nav-navigation {
    color: var(--grey-text);
    padding: 30px;
    gap: 50px;

    & > span {
        cursor: pointer;
    }

    @media only screen and (max-width: 767px) {
        & > span:active {
            text-decoration: underline;
        }
    }
    @media only screen and (min-width: 768px) {
        & > span:hover {
            text-decoration: underline;
        }
    }
 }

.nav-logo-container {
    justify-content: center;

    & > img {
        height: 100%;
        cursor: pointer;
    }
}

.nav-navigation-mobile {
    display: none;
    padding-left: 20px;
    color: var(--text);
}

@media only screen and (max-width: 767px) {
    .nav-blank-space {
        display: none;
    }
    .nav-navigation {
        display: none;
    }
    .nav-navigation-mobile {
        display: flex;
    }
}