:root {
    /* colors */
    --background: hsl(0, 0%, 16%);
    --lightBackground: hsl(0, 0%, 26%);
    --lighterBackground: hsl(0, 0%, 36%);
    --accent: hsl(269, 47%, 52%);
    --accentLight: hsl(269, 47%, 62%);
    --grey-text: hsl(0, 0%, 70%);
    --text: hsl(0, 0%, 90%);

    /* values */
    --navHeight: 72px;
    --audio-player-container-height: 120px;
}